.content {
    background-color: #fff;
    height: 100%;
    .rtnav {
      height: 60px;
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid #909399;
      .right {
        float: right;
        margin-top: 15px;
        margin-right: 15px;
        &:hover {
          color: #66ccff;
          cursor: pointer;
        }
      }
      .left {
        float: left;
        margin-top: 15px;
        margin-left: 15px;
        font-weight: bold;
        color: #696d74;
        &:hover {
          color: #66ccff;
          cursor: pointer;
        }
      }
    }
  }
  .content-drag-leave {
    border: 1px solid #c0c4cc;
  }
  .content-drap-over {
    border: 1px dotted #c0c4cc;
  }
  .containers {
    height: 100px;
    width: 370px;
    border-style: solid;
    text-align: center;
    font-size: 30px;
  }
  .selected_containers {
    height: 100px;
    width: 370px;
    border-style: solid;
    text-align: center;
    font-size: 30px;
    background: blue;
  }
  .option {
    flex: 4;
    background-color: #ffffff;
    overflow: auto;
    border: 1px solid #c0c4cc;
  }
  .main-contain {
    display: flex;
    height: 100vh;
  }
  .label {
    border-right: 1px solid #c0c4cc;
    background-color: #fff;
    overflow: auto;
    flex: 4;
  }
  .layout {
    flex: 10;
    overflow: auto;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    
  }
  .phone {
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 15px;
    width: 375px;
    background-color: #f3f4f6;
    border: 1px solid #c0c4cc;
    overflow: auto;
    height: 812px;
  }